{% extends "header.html" %}
{% block content %}

{% if data["lastheard"] is defined %}
<h6>Last Update : {{ data["lastheard"] }}</h6>
{% endif %}
    
{% if data["stations_5"] is defined %}
<h6>Busiest APs by client count - 5GHz</h6>
<table class="u-full-width">
  <thead>
    <tr>
      <th>AP Name</th>
      <th>Radio Slot</th>
      <th>Channel</th>
      <th>Status</th>
      <th>Clients</th>
    </tr>
  </thead>
  {% for radio in data["stations_5"] %}
  <tbody>
    <tr>
      <td>{{ radio[0] }}</td>
      <td>{{ radio[1] }}</td>
      <td>{{ radio[2] }}</td>
      {% if radio[3] == "green" %}
      <td><img src="/static/green.png" width="25px"></td>
      {% endif %}
      {% if radio[3] == "orange" %}
      <td><img src="/static/orange.png" width="25px"></td>
      {% endif %}
      {% if radio[3] == "red" %}
      <td><img src="/static/red.png" width="25px"></td>
      {% endif %}
      <td>{{ radio[4] }}</td>
  {% endfor %}
    </tr>
  </tbody>
</table>
{% endif %}

{% if data["stations_5"] is defined %}
<h6>Busiest APs by channel utilization - 5GHz</h6>
<table class="u-full-width">
  <thead>
    <tr>
      <th>AP Name</th>
      <th>Radio Slot</th>
      <th>Channel</th>
      <th>Status</th>
      <th>Ch Util</th>
    </tr>
  </thead>
  {% for radio in data["ch_util_5"] %}
  <tbody>
    <tr>
      <td>{{ radio[0] }}</td>
      <td>{{ radio[1] }}</td>
      <td>{{ radio[2] }}</td>
      {% if radio[3] == "green" %}
      <td><img src="/static/green.png" width="25px"></td>
      {% endif %}
      {% if radio[3] == "orange" %}
      <td><img src="/static/orange.png" width="25px"></td>
      {% endif %}
      {% if radio[3] == "red" %}
      <td><img src="/static/red.png" width="25px"></td>
      {% endif %}
      <td>{{ radio[4] }} %</td>
  {% endfor %}
    </tr>
  </tbody>
</table>
{% endif %}

{% endblock %}
  