<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/skeleton.css">
    <meta http-equiv="refresh" content="5">
  </head>
  <body>
    <div>
      <a href="https://github.com/Johnny8Bit/wifi-ninja-2" target="_blank" rel="noopener noreferrer"></a><img src="/static/ninja-logo.png" style="vertical-align: middle;" width="52px"/>
      <span style="vertical-align: middle;font-size: 20px;">&nbsp;&nbsp;&nbsp;Wi-Fi Ninja 2</span>
    </div>
    <br>
      <a class="button" href="/">Sensor</a>
      <a class="button" href="controller">Controller</a>
      <a class="button" href="/ap2">AP 2.4GHz</a>
      <a class="button" href="/ap5">AP 5GHz</a>
      <a class="button" href="/ap6">AP 6GHz</a>
    <br><br>
    {% if data["lastheard"] is defined %}
    <h6>Last Update : {{ data["lastheard"] }}</h6>
    {% endif %}

    {% if data["all_clients"] is defined %}
    <h5>Total Clients : {{ data["all_clients"] }}</h5>
    {% endif %}

    {% if data["max_clients"] is defined %}
    <h5>Max. Clients : {{ data["max_clients"] }}</h5>
    {% endif %}

    {% if data["per_phy"] is defined %}
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Wi-Fi PHY</th>
          <th>Clients</th>
        </tr>
      </thead>
      <tbody>
      {% for phy, clients in data["per_phy"].items() %}
        <tr>
          <td>{{ phy }}</td>
          <td>{{ clients }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <br>
    {% if data["lan_interface"] is defined %}
    <h5>{{ data["lan_interface"] }}</h5>
    {% endif %}

    {% if data["in_bytes"] is defined and data["out_bytes"] is defined %}
    <table class="u-full-width">
      <thead>
        <tr>
          <th></th>
          <th>IN</th>
          <th>OUT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Throughput</td>
          <td>{{ data["in_bytes"] }}</td>
          <td>{{ data["out_bytes"] }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
