<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/skeleton.css">
    <meta http-equiv="refresh" content="15">
  </head>
  <body>
    <div>
      <a href="https://github.com/Johnny8Bit/wifi-ninja-2" target="_blank" rel="noopener noreferrer"></a><img src="/static/ninja-logo.png" style="vertical-align: middle;" width="52px"/>
      <span style="vertical-align: middle;font-size: 20px;">&nbsp;&nbsp;&nbsp;Wi-Fi Ninja 2</span>
    </div>
    <br>
      <a class="button" href="/">Sensor</a>
      <a class="button" href="controller">Controller</a>
      <a class="button" href="/ap2">AP 2.4GHz</a>
      <a class="button" href="/ap5">AP 5GHz</a>
      <a class="button" href="/ap6">AP 6GHz</a>
    <br>
    <br>

    {% block content %}{% endblock %}

  </body>
</html>
