<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/skeleton.css">
    <meta http-equiv="refresh" content="5">
</head>
<body>

<h5>Wi-Fi Ninja 2</h5>
<table class="u-full-width">
  {% for value in data.values() %}
  <thead>
    <tr>
      <th>Sensor Type</th>
      <th>Sensor Location</th>
      <th>Sensor IP</th>
    </tr>
  </thead>
  <tbody>
    <tr>    
      <td>{{ value.sensor_type }}</td>
      <td>{{ value.sensor_location }}</td>
      <td>{{ value.sensor_ip }}</td>
    </tr>
  </tbody>
</table>
<table class="u-full-width">
  <thead>
    <tr>
      <th>BSS</th>
      <th>AP Name</th>
      <th>Channel</th>
      <th>Signal</th>
      <th>SSID</th>
      <th>Data Rates</th>
      <th>Country</th>
      <th>Authentication</th>
      <th>Pairwise Cipher</th>
      <th>Group Cipher</th>
      <th>STA Count</th>
      <th>Ch.Util.%</th>
    </tr>
  </thead>
  <tbody>
    {% for value in data.values() %}
    {% for bss, details in value["results"].items() %}
    <tr>
      <td>{{ bss }}</td>
      <td>-</td>
      <td>{{ details.channel }}</td>
      <td>{{ details.signal }}</td>
      <td>{{ details.ssid }}</td>
      <td>{{ details.rata_rates }}</td>
      <td>{{ details.country }}</td>
      <td>{{ details.authentication }}</td>
      <td>{{ details.pairwise_cipher }}</td>
      <td>{{ details.group_cipher }}</td>
      <td>{{ details.sta_count }}</td>
      <td>{{ details.ch_util }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
  {% endfor %}
</body>
</html>
