<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/skeleton.css">
    <meta http-equiv="refresh" content="5">
</head>
<body>

<h5>Wi-Fi Ninja 2</h5>
{% for sensor, details in data.items() %}
<table class="u-full-width">
  <thead>
    <tr>
      <th>Sensor Location</th>
      <th>Sensor MAC</th>
      <th>Sensor IP</th>
      <th>Sensor Type</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ details.sensor.sensor_location }}</td>
      <td>{{ details.sensor.sensor_mac }}</td>
      <td>{{ sensor }}</td>
      <td>{{ details.sensor.sensor_type }}</td>
      <td>{{ details.sensor.sensor_lastheard }}</td>
    </tr>
  </tbody>
</table>
<table class="u-full-width">
  <thead>
    <tr>
      <th>BSS</th>
      <th>AP Name</th>
      <th>Channel</th>
      <th>Signal (dBm)</th>
      <th>SSID</th>
      <th>Data Rates</th>
      <th>Country</th>
      <th>Authentication</th>
      <th>Pairwise Cipher</th>
      <th>Group Cipher</th>
      <th>STA Count</th>
      <th>Ch.Util.%</th>
    </tr>
  </thead>
  <tbody>
  {% for bss, info in details["sensor"]["results"].items() %}
    <tr>
      <td>{{ bss }}</td>
      <td>{{ info.ap_name }}</td>
      <td>{{ info.channel }}</td>
      <td>{{ info.signal }}</td>
      <td>{{ info.ssid }}</td>
      <td>{{ info.data_rates }}</td>
      <td>{{ info.country }}</td>
      <td>{{ info.authentication }}</td>
      <td>{{ info.pairwise_cipher }}</td>
      <td>{{ info.group_cipher }}</td>
      <td>{{ info.sta_count }}</td>
      <td>{{ info.ch_util }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}

</body>
</html>
